<li>
  <%=lesson.name%>
  <%content_id = lesson.id.to_s + "_content"%>
  <%button_id = lesson.id.to_s + "_button"%><button id=<%= button_id%> class="more_button btn-xs">More...</button>
  <div id=<%=content_id%>></div>
</li>