<footer class="footer">
  <small>
    This page was created by a Flatiron student to help fellow learners and has not been endorsed by the Flatiron School.  
  </small>
  <nav>
    <ul>
   
    </ul>
  </nav>
</footer>